### Random Forest Example using Titanic data
In this notebook we demo the usage of python-mldb. You can access python-mldb through a single class, Dealer.

In [1]:
import os

from python_mldb import Dealer


path = os.path.abspath('./')

In [2]:
dealer = Dealer.Dealer(os.path.join(path, 'config_file/config.yaml'))

Connection established.
Query: SHOW DATABASES; done.
Warning: Database test already existed!
Warning: cursor is empty!
Query: USE test done.
Dealer established, service start!

### Dealer Intro
When Dealer object establish, it can load *.csv file into database through dealer.dataset.
Dealer can start a training procedure with the dataset using dealer.procedure.train.

In [4]:
train_path = os.path.join(path, '../data/train.csv')
os.path.exists(train_path)
print (train_path)

raw_data_name = 'TitanicTrain'
dealer.dataset.save_to_database(train_path, 'TitanicTrain')

/home/johnny/my_repo/python-mldb/Example/../data/train.csv
Failed : 1050 (42S01): Table 'TitanicTrain' already exists
Query: LOAD DATA LOCAL INFILE '/home/johnny/my_repo/python-mldb/Example/../data/train.csv' INTO TABLE TitanicTrain FIELDS TERMINATED BY ',' LINES TERMINATED BY '
' IGNORE 1 LINES done.

In [9]:
# Check the data we just save into database
raw_data = dealer.dataset.load_from_database(raw_data_name)

Query: SHOW COLUMNS FROM TitanicTrain done.
Query: SELECT * FROM TitanicTrain done.

In [16]:
print(raw_data.columns)
n = 5
guests = raw_data.head(5).values
for guest in guests:
    print(guest)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
['1' '0' '3' '"Braund' ' Mr. Owen Harris"' '0' '22' '1' '0' '0.0' '7.25'
 '']
['2' '1' '1' '"Cumings' ' Mrs. John Bradley (Florence Briggs Thayer)"' '0'
 '38' '1' '0' '0.0' '71.2833' 'C85']
['3' '1' '3' '"Heikkinen' ' Miss. Laina"' '0' '26' '0' '0' '0.0' '7.925'
 '']
['4' '1' '1' '"Futrelle' ' Mrs. Jacques Heath (Lily May Peel)"' '0' '35'
 '1' '0' '113803.0' '53.1' 'C123']
['5' '0' '3' '"Allen' ' Mr. William Henry"' '0' '35' '0' '0' '373450.0'
 '8.05' '']

### Training Procedure
Dealer.dataset will load the data we save into database, return a pandas.Dataframe object. We now use choose columns we want for our training process.

In [17]:
# Select the feature we want
train_feature_list = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']
train_label = ['Survived']

train_x = raw_data[train_feature_list].values
train_y = raw_data[train_label].values

[['3' ' Mr. Owen Harris"' '0' '22' '1' '0.0']
 ['1' ' Mrs. John Bradley (Florence Briggs Thayer)"' '0' '38' '1' '0.0']
 ['3' ' Miss. Laina"' '0' '26' '0' '0.0']
 ...
 ['3' ' Miss. Catherine Helen ""Carrie"""' '0' '0' '1' '0.0']
 ['1' ' Mr. Karl Howell"' '0' '26' '0' '111369.0']
 ['3' ' Mr. Patrick"' '0' '32' '0' '370376.0']] [['0']
 ['1']
 ['1']
 ...
 ['0']
 ['1']
 ['0']]